<h1><%= @goal.title %></h1>

<p>
  <%= @goal.body %>
</p>
<p>
  Permission: <%= @goal.permission %>
</p>
<p>
  Status: <%= @goal.status %>
</p>

<%= link_to "Edit Goal", edit_goal_url(@goal) %><br>
<%= link_to "Back to Index", goals_url %>